Hi, ${userName}
<br/>
<br/>
User untuk login ke aplikasi Warga Kita sudah siap, anda bisa login sekarang.
<br/> email : ${email}
<br/> password : ${password}
<br/> Anda bisa menggunakan user email dan password di atas, atau login menggunakan akun social media (Google atau Facebook)
<br/> Anda bisa mendownload aplikasi Warga Kita di Play Store dan App Store.


<br/>
<br/>
Regards,<br/>

Warga Kita Admin

<hr>

Hi, ${userName}
<br/>
<br/>
User to login to your Warga Kita mobile application is ready, you can login now.
<br/> email : ${email}
<br/> password : ${password}
<br/> You can use user email and password above, or login using your social media account (Google or Facebook)
<br/> You can download Warga Kita mobile application on Play Store and App Store.



<br/>
<br/>
Regards,<br/>

Warga Kita Admin


