@font-face {
	font-family: Poppins-Regular;
	src: url('../fonts/poppins/Poppins-Regular.ttf');
}

body {
	padding: 0;
	margin: 0;
	font-family: Poppins-Regular;
}

.content {
	margin: auto;
	width: 1280px;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5);
	overflow: auto;
}

#header-wrapper {
	width: 100%;
	overflow: auto;
	margin-bottom: -150px;
}

#header-wrapper.form-wrapper {
	margin-bottom: 0;
}

#navbar {
	position: relative;
	overflow: auto;
}

#banner {
	background-image: url("../homepage/warga_kita_homepage_bg-01.png");
	background-size: cover;
	background-position: bottom;
	background-repeat: no-repeat;
	color: white;
	height: 540px;
	position: relative;
}

#banner.form-banner {
	background-image: none;
	height: 100%;
}

.promotional {
	position: relative;
	display: inline-block;
	width: 72%;
	box-sizing: border-box;
	padding: 50px 100px 10px 100px;
	float: left;
}

.promotional>p {
	text-align: center;
	font-size: 1.85em;
	font-weight: bold;
	font-family: Arial Narrow,Arial,sans-serif; 
	width: 100%;
	margin: 0;
}

#content-app-img {
	width: 28%;
	float: right;
	transform: scale(0.6);
	bottom: 18%;
	position: relative;
}

#logo {
	width: 192px;
	height: 74px;
	margin: 20px 10px 10px 20px;
	background-image: url("../homepage/wargaku_logo_icon_release-02_512.png");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	float: left;
}

.nav-items {
	position: relative;
	padding: 0 10px 0 0;
	margin: 0;
	height: 94px;
	display: inline-block;
	list-style: none;
	float: right;
}


.nav-item {
	position: relative;
	display: inline-block;
	top: calc(50% - 0.5em);
}

.nav-item>a {
	text-decoration: none;
	color: blue;
	padding-right:1.5em; 
	font-weight: bold;
	/*text-transform: uppercase;*/
}

.nav-item>a:hover,
.nav-item.active>a {
	color: #4ec2be;
}

.btn-div{
	width: 100%;
	text-align: center;
}

.btn-gplay {
	display: inline-block;
	background-image: url("../homepage/getongapps.png");
	background-position: : center;
	background-size: contain;
	background-repeat: no-repeat;
	width: 192px;
	height: 76px;
}
.btn-apstr {
	display: inline-block;
	background-image: url("../homepage/getonapstr.png");
	background-position: : center;
	background-size: contain;
	background-repeat: no-repeat;
	width: 192px;
	height: 76px;
}

.item-section {
	width: 100%;
	height: 625px;
	background-position: right center;
	background-size: contain;
	background-repeat: no-repeat;
	display: flex;
}

.item-text, .item-image {
	flex: 1;
	box-sizing: content-box;
}

.item-text img {
	padding-top: 104px;
	
	max-width: 100%;
	max-height: 100%;
	transform: scale(0.8);
}

h1 {
	font-size: 3.5em;
	text-align: center;
	padding: 0;
	margin: 0;
}

.item-text {
	color: white;
	text-align: justify;
}

.item-text h2 {
	margin: 0;
}

.item-text p, .item-text ul {
	margin: 0;
	padding-left: 1em;
}

.item-image{
	color: #3B3B3B;
	padding: 0px 30px 30px 30px;
}

.item-image>img {
	max-width: 100%;
	max-height: 100%;
	box-sizing: border-box;
}

.item-image.special-case {
	position: relative;
	top: 40px;
	left: -40px;
	transform:scale(1.1);
}

.item-text.special-case {
	text-align: center;
}

.item-section:nth-child(even) {
	background-image: url('../homepage/warga_kita_homepage_bg-02.png');
	flex-direction: row;
}

.item-section:nth-child(odd) {
	background-image: url('../homepage/warga_kita_homepage_bg-03.png');
	flex-direction: row-reverse;
}

.item-section:nth-child(even)>.item-text {
	padding: 100px 100px 30px 100px;
}

.item-section:nth-child(odd)>.item-text {
	padding: 60px 60px 30px 100px;
}

.flavor {
	width: 606px;
	height: 181px;
	margin: 10px 0px 0px -90px;
	padding: 50px 100px 50px 100px;
	font-size: 2em;
	box-sizing: border-box;
	background-image: url("../homepage/content_one_month_free.png");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

#footer {
	display: flex;
	margin-top: 20px;
	padding: 20px 120px 20px 120px;
	flex-direction: row;
	border-top: 2px solid grey;
}

#footer.form-footer {
	margin-top: 0;
}

.footer-item {
	flex: 1;
	padding: 20px;
}

#copyright {
	text-align: center;
	margin-top: 20px;
	border-top: 2px solid grey;
	padding: 20px 120px 20px 120px;
}

.form-table {
	overflow: hidden;
}

.form-table input, .form-table textarea{
	width: 85%;
	padding: 5px 10px;
	border-radius: 3px;
	outline: none;
	border: none;
	font-family: Poppins-Regular;
	font-size: 1em;
	box-sizing: border-box;
}

.form-table .form-group {
	clear:both;
	padding: 10px;
}

.form-table .label-col {
	width: 20%;
	float: left;
	padding-top: 10px;
}

.form-table .input-col {
	width: 70%;
	float:left;
}

.btn {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
	background:-moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
	background-color:#f9f9f9;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
	width: 85%;
	margin-bottom: 3px;
}
.btn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9));
	background:-moz-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-webkit-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-o-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-ms-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9',GradientType=0);
	background-color:#e9e9e9;
}
.btn:active {
	position:relative;
	top:1px;
}


@media (max-width: 768px) {
	.content {
		box-shadow: 0;
		width: 100%;
	}

	.form-table .label-col {
		width: 100%;
		padding-top: 10px;
	}

	.form-table .input-col {
		width: 100%;
	}

	#logo {
		display: block;
		width: 144px;
		height: 55.5px;
		margin: 20px 10px 10px 20px;
		background-image: url("../homepage/wargaku_logo_icon_release-02_512.png");
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		float: none;
	}

	.nav-items {
		float: none;
		width: 100%;
		padding: 0px;
		height: 100%;
		margin-bottom: 10px;
	}

	.nav-item {
		display: block;
		top: 0;
		width: 100%;
		padding: 10px 20px;
		border: 1px solid #eee;
		box-sizing: border-box;
		float: none;
	}
	
	.promotional {
		position: relative;
		display: inline-block;
		width: 100%;
		box-sizing: border-box;
		padding: 60px 25px 50px 25px;
		float: none;
	}

	.btn-div {
		padding: 25px 0px 0px 0px;
	}

	#banner {
		height: auto;
	}

	#content-app-img {
		display: none;
	}

	#header-wrapper {
		margin-bottom: 0px;
	}

	.item-section:nth-child(even) {
		background-color: #2C9BD2;
		flex-direction: column;
	}

	.item-section:nth-child(odd) {
		background-color: #23519F;
		flex-direction: column;
	}

	.item-section {
		width: 100%;
		height: auto;
		background-position: 0;
		background-size: 0;
		background-repeat: no-repeat;
		background-image: none;
		display: flex;
	}
	
	.item-image {
		background-color: white;
	}

	.item-section:nth-child(even)>.item-text {
		padding: 20px 8% 40px 8%;
	}

	.item-section:nth-child(odd)>.item-text {
		padding: 20px 8% 40px 8%;
	}

	.item-image.special-case {
		position: relative;
		top: 0px;
		left: 0px;
		transform:scale(1);
		padding-top: 40px;
	}

	.flavor {
		width: 100%;
		height: auto;
		margin: 0;
		padding: 25px;
		font-size: 1.25em;
		box-sizing: border-box;
		text-align: center;
		background-image: url("../homepage/content_one_month_free.png");
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
		transform: scale(1.25);
	}
	#footer {
		margin: 0;
		padding: 20px 8% 20px 8%;
	}
	#copyright {
		padding: 20px 8% 20px 8%;
	}
	#footer {
		flex-direction: column;
	}
}