<%--
  Created by IntelliJ IDEA.
  User: enpee_000
  Date: 04/03/2018
  Time: 12:33
--%>

<%@ page contentType="text/html;charset=UTF-8" %>
<html>
<head>
    <meta name="layout" content="main"/>
    <title>Confirm Approve Deal</title>
</head>

<body>
<section class="content-header">
    <property:pageHeader title="Properti Prospek" description="Usulan dan Pengajuan Properti Prospek" />
    <ol class="breadcrumb">
        <li><g:link controller="propertyDeal" action="index"><i class="fa fa-stamp"></i> Property Lead</g:link></li>
        <li>Approve Lead</li>
        <li class="active">Confirm</li>
    </ol>
</section>

<section class="content container-fluid">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Approval Information</h3>
        </div>
        <g:form action="submitApproveDeal" class="form-horizontal" method="POST" name="form1">
            <div class="box-body">
                <property:alert message="${flash.message}" type="success"/>
                <property:alert message="${flash.error}" type="danger"/>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Properti:</label>
                    <div class="col-sm-8">
                        <input type="hidden" name="id" value="${detail.id}" />
                        <p class="form-control-static">${detail.name}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Developer:</label>
                    <div class="col-sm-8">
                        <p class="form-control-static">${detail.developer}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Alamat:</label>
                    <div class="col-sm-8">
                        <p class="form-control-static">${detail.address}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Tipe:</label>
                    <div class="col-sm-8">
                        <p class="form-control-static">${detail.propertyType}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Keterangan:</label>
                    <div class="col-sm-8">
                        <p class="form-control-static">${detail.description}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Created:</label>
                    <div class="col-sm-8">
                        <p class="form-control-static">${detail.createdDate} by ${detail.createdBy}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Status:</label>
                    <div class="col-sm-8">
                        <p class="form-control-static">${detail.status}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Upload Gambar Properti:</label>
                    <div class="col-sm-8" style="padding-top: 7px">
                        <g:if test="${detail.attachment!=null && detail.attachment!=""}">
                            <g:link action="downloadFile" id="${detail.attachment}">${detail.attachmentName}</g:link>
                        </g:if>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Code:</label>
                    <div class="col-sm-8">
                        <input type="hidden" name="code" value="${detail.code}" />
                        <p class="form-control-static">${detail.code}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Jumlah Unit:</label>
                    <div class="col-sm-8">
                        <input type="hidden" name="totalUnit" value="${detail.totalUnit}" />
                        <p class="form-control-static">${detail.totalUnit}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Fee:</label>
                    <div class="col-sm-8">
                        <input type="hidden" name="fee" value="${detail.fee}" />
                        <p class="form-control-static">${detail.fee}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Expiry Tanggal:</label>
                    <div class="col-sm-8">
                        <input type="hidden" name="expiryDate" value="${detail.expiryDate}" />
                        <p class="form-control-static">${detail.expiryDate}</p>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <g:if test="${detail.stage == 'Confirm'}">
                    <g:actionSubmit action="approveDeal" class="btn btn-default" value="Kembali" />
                    <button type="submit" onclick="$.blockUI({ message: 'Sedang diproses, harap menunggu.' });" class="btn btn-info pull-right">Simpan</button>
                </g:if>
                <g:else>
                    <g:link action="index" class="btn btn-success pull-right">Selesai</g:link>
                </g:else>
            </div>
        </g:form>
    </div>
</section>
</body>
</html>