.box.box-primary {
    border-color: #3c8dbc;
}
.panel-collapse {
    padding: 0 10px;
}
.preline {
    white-space: pre-line;
    border: 1px solid #ddd;
    padding: 10px;
}
.huge {
    font-size:42px;
    font-weight:bold;
}
.navbar-nav > .user-menu > .dropdown-menu {
    width: 330px;
}
.select2 {
    width:330px;
}

label.error {
    color: #d14;
}

label.success {
    color: #00a65a;
}
.panel-green {
    border-color: #5cb85c;
}
.panel-green > .panel-heading {
    border-color: #5cb85c;
    color: white;
    background-color: #5cb85c;
}
.panel-teal {
     border-color: #39cccc;
 }
.panel-teal > .panel-heading {
    border-color: #39cccc;
    color: white;
    background-color: #39cccc;
}
.panel-yellow {
    border-color: #f0ad4e;
}
.panel-yellow > .panel-heading {
    border-color: #f0ad4e;
    color: white;
    background-color: #f0ad4e;
}
.panel-red {
     border-color: #d9534f;
 }
.panel-red > .panel-heading {
    border-color: #d9534f;
    color: white;
    background-color: #d9534f;
}
textarea{
    resize:none;
}
.upload-tooltip{
    clear:both;
    padding-left:15px;
    color: darkblue;
}