Hi, Support
<br/>
<br/>
<br/> Berikut data calon reseller baru:
<br/> Nama: ${name}
<br/> Email: ${email}
<br/> Phone No: ${phoneNo}
<br/> Alamat: ${address}
<br/> Deskripsi: ${reason}
<br/>


<br/>
<br/>
Regards,<br/>

Warga Kita Admin

<hr>

Hi, Support
<br/>
<br/>
<br/> Please use this information to contact our reseller:
<br/> Name: ${name}
<br/> Email: ${email}
<br/> Phone No: ${phoneNo}
<br/> Address: ${address}
<br/> Description: ${reason}
<br/>


<br/>
<br/>
Regards,<br/>

Warga Kita Admin

