Hi, Support
<br/>
<br/>
<br/> Berikut data calon pelanggan baru:
<br/> Nama: ${name}
<br/> Email: ${email}
<br/> Phone No: ${phoneNo}
<br/> Properti: ${property}
<br/> Deskripsi: ${reason}
<br/>


<br/>
<br/>
Regards,<br/>

Warga Kita Admin

<hr>

Hi, Support
<br/>
<br/>
<br/> Please use this information to contact our customer:
<br/> Name: ${name}
<br/> Email: ${email}
<br/> Phone No: ${phoneNo}
<br/> Property Name: ${property}
<br/> Description: ${reason}
<br/>


<br/>
<br/>
Regards,<br/>

Warga Kita Admin

